#toggle-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 24px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    z-index: 1000;
    padding: 10px 15px;
    border-radius: 5px;
  }
  
  
  #sidebar {
    width: 250px;
    height: 100vh;
    background: #333;
    color: #fff;
    position: fixed;
    top: 0;
    right: -250px;
    transition: left 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55); 
  }
  
  #sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 195px;
  }
  
  #sidebar ul li {
    padding: 15px;
    text-align: center;
    opacity: 0; 
    transform: translateX(-20px); 
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  #sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  
  #sidebar.open {
    right: 0;
  }
  
  #sidebar.open ul li {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.2s;
}

#sidebar.open ul li a {
    transition: transform 300ms, filter 300ms;
    background-color: #ffffff78;
}

#sidebar.open ul li a:not(:hover) {
   
  transform: scale(1.1);
  filter: blur(0.5px);
  background: #076aab;
}


#sidebar.open ul li a:hover {
    background-color: #ffffff;
    color: #d71919;
}

  
  .current a {
    animation: active 2s infinite; 
  }

@keyframes active {
  0% {
      backdrop-filter: blur(.125rem);
      color: #000000; 
  }
  50% {
      backdrop-filter: blur(.25rem);
      color: #ff0000; 
  }
  100% {
      backdrop-filter: blur(.125rem);
      color: #000000; 
  }
}
